* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-image: linear-gradient(120deg,#32c0d3 ,#172be2);
     color:rgb(245, 121, 20)
    font-family  "popins", san-serif;
    min-height: 100vh;
    align-items:center;
}
div h1 {
    height: 20vh;
    width:20%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:rgb(250, 151, 98)

     }

div {
    flex-direction:column;
}
div {
    display:flex;
    align-items: center;
    cursor:pointer;
    
    }
div,section
    h2{
    margin:45px;
    padding:20px;
    font-size:25px;
    text-align :center;
    color:rgb(250, 188, 95)
    }
    


    

body ,span,h2 {
    margin:15px;
    font-size:
    color rgb(173, 211, 85)
}

header {
    font-size: 1.5rem;
    color:rgb(255, 214, 80)
}

 div input,
  div button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background:aquamarine;
    text-align: center;
    color:rgb(117, 46, 4)
}
div button{
        color:rgb(31, 143, 143);
        background:darkkhaki;
        cursor:pointer;
        transition:all 0.3s ease;

} 
div{

  content : center;
  

 
  }